w3af/plugins/output/xml_file/report.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:element name="w3af-run">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="w3af-version" type="xs:string" />
        <xs:element ref="scan-info" />
        <xs:element ref="scan-status" />
        <xs:element ref="vulnerability" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="error" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="start" use="required" type="xs:integer"/>
      <xs:attribute name="start-long" use="required"/>
      <xs:attribute use="required" ref="version"/>
    </xs:complexType>
  </xs:element>
  
  <xs:attribute name="version">
    <xs:simpleType>
      <xs:restriction base="xs:decimal">
        <!-- Current version defined in xml_file.py XML_OUTPUT_VERSION -->
        <xs:enumeration value="2.8"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>


  <xs:element name="scan-info">
    <xs:complexType>
      <xs:all>
        <xs:element ref="audit"/>
        <xs:element ref="auth"/>
        <xs:element ref="bruteforce"/>
        <xs:element ref="grep"/>
        <xs:element ref="evasion"/>
        <xs:element ref="output"/>
        <xs:element ref="mangle"/>
        <xs:element ref="crawl"/>
        <xs:element ref="infrastructure"/>
      </xs:all>
      <xs:attribute name="target" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  
    <xs:complexType name="plugin-type">
      <xs:sequence>
        <xs:element ref="plugin" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  
  <xs:element name="audit">
    <xs:complexType>  
      <xs:sequence>
        <xs:element ref="plugin" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="auth">
    <xs:complexType>  
      <xs:sequence>
        <xs:element ref="plugin" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="bruteforce">
    <xs:complexType>  
      <xs:sequence>
        <xs:element ref="plugin" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="grep">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="plugin" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="evasion">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="plugin" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="output">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="plugin" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="mangle">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="plugin" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="crawl">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="plugin" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="infrastructure">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="plugin" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="node">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="node"/>
      </xs:sequence>
      <xs:attribute name="url" use="required" type="xs:anyURI"/>
      <xs:attribute name="exists" use="required" type="xs:anyURI"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="scan-status">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="status"/>
        <xs:element type="xs:string" name="is-paused"/>
        <xs:element type="xs:string" name="is-running"/>
        <xs:element name="active-plugin">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="crawl"/>
              <xs:element type="xs:string" name="audit"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="current-request">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="crawl"/>
              <xs:element type="xs:string" name="audit"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="queues">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="crawl">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="input-speed"/>
                    <xs:element type="xs:string" name="output-speed"/>
                    <xs:element type="xs:string" name="length"/>
                    <xs:element type="xs:string" name="processed-tasks"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="audit">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="input-speed"/>
                    <xs:element type="xs:string" name="output-speed"/>
                    <xs:element type="xs:string" name="length"/>
                    <xs:element type="xs:string" name="processed-tasks"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="grep">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="input-speed"/>
                    <xs:element type="xs:string" name="output-speed"/>
                    <xs:element type="xs:string" name="length"/>
                    <xs:element type="xs:string" name="processed-tasks"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="eta">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="crawl"/>
              <xs:element type="xs:string" name="audit"/>
              <xs:element type="xs:string" name="grep"/>
              <xs:element type="xs:string" name="all"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:short" name="rpm"/>
        <xs:element type="xs:short" name="sent-request-count"/>
        <xs:element type="xs:short" name="progress"/>
        <xs:element type="xs:short" name="total-urls"/>

        <xs:element name="known-urls">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="node"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="vulnerability">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element name="description" type="xs:string"/>
        <xs:element name="long-description" minOccurs="0" type="xs:string"/>
        <xs:element name="fix-guidance" minOccurs="0" type="xs:string"/>
        <xs:element name="fix-effort" minOccurs="0" type="xs:integer"/>
        <xs:element name="references" minOccurs="0" type="references"/>
        <xs:element name="http-transactions" minOccurs="0" type="http-transactions"/>
      </xs:sequence>
      <xs:attribute name="id" use="optional"/>
      <xs:attribute name="method" use="required" type="xs:NCName"/>
      <xs:attribute name="name" use="required"/>
      <xs:attribute name="plugin" use="required"/>
      <xs:attribute name="severity" use="required" type="xs:NCName"/>
      <xs:attribute name="url" use="required" type="xs:string"/>
      <xs:attribute name="var" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  
  <xs:complexType name="http-transactions">
    <xs:sequence>
      <xs:element name="http-transaction" minOccurs="1" maxOccurs="unbounded" type="http-transaction"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="http-transaction">
    <xs:sequence>
      <xs:element ref="http-request" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="http-response" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" use="required" type="xs:string"/>
  </xs:complexType>

  <xs:element name="error">
    <xs:complexType mixed="true">
      <xs:attribute name="caller" use="required"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="plugin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="config"/>
      </xs:sequence>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="config">
    <xs:complexType>
      <xs:attribute name="parameter" use="required" type="xs:NCName"/>
      <xs:attribute name="value" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="http-request">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="status" minOccurs="1" maxOccurs="1" type="xs:string"/>
        <xs:element name="headers" minOccurs="1" maxOccurs="1" type="headers"/>
        <xs:element ref="body" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="http-response">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="status" minOccurs="1" maxOccurs="1" type="xs:string"/>
        <xs:element name="headers" minOccurs="1" maxOccurs="1" type="headers"/>
        <xs:element ref="body" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="id" use="optional" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="body">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="content-encoding" use="required"
                        type="content-encoding"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
 </xs:element>
  
  <xs:simpleType name="content-encoding">
    <xs:restriction base="xs:string">
      <xs:enumeration value="text"/>
      <xs:enumeration value="base64"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="headers">
    <xs:sequence>
      <xs:element name="header" minOccurs="1" maxOccurs="unbounded" type="header"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="header">
    <xs:attribute name="field" use="required" type="xs:string"/>
    <xs:attribute name="content" use="required" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="references">
    <xs:sequence>
      <xs:element name="reference" minOccurs="1" maxOccurs="unbounded" type="reference"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="reference">
    <xs:attribute name="title" use="required" type="xs:string"/>
    <xs:attribute name="url" use="required" type="xs:string"/>
  </xs:complexType>

</xs:schema>
